.knopka {
  display:flex;
  width:45px;
  height:45px;
  background-color: #F5F5F5;
  border-radius: 6.2px;
  overflow: hidden;
  position:relative;
}
.header{
  width:100%;
  height: 100px;
  background: linear-gradient(#ff0000, #ff9c9c);
  position:relative;
  display:flex;
  align-items:center;
  gap:70px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}
.border{
  background:transparent;
  width:500px;
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #b8b8b8;
}
.Author{
  width: 500px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 0 0 45px 45px;
  display: flex;
  flex-direction: column;
}
.podAuthor{
  height: 50px;
  background: linear-gradient(#ff9c9c,#ff0000);
}
.input{
  width: 325px;
  border-radius: 45px;
  font-size: 22px;
  font-family: Montserrat;
  font-style: normal;
  color:black;
}
.back{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5) ;
  height: 100%;
  width: 100%;
  clear: both;
  position: absolute;
}
.Bukvi{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  color:black;
  font-size: 40px;
}
.table {
  padding-left: 100px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.dropArea{
  height:600px;
  border: 5px solid #999999;
  margin: 100px 100px 100px 100px;
  border-radius: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.dropArea.on{
  flex-grow: 1;
  box-shadow:0 0 0 500px rgba(0, 0, 0, 0.4) inset;
  
}

